.col0 {
  float: left;
  width: 19%;
}
.col1 {
  float: left;
  width: 19%;
}
.col2 {
  float: left;
  width: 19%;
}
.col3 {
  float: left;
  width: 19%;
}
.col4 {
  float: left;
  width: 19%;
  clear: right;
}

body {
  background-color: rgb(0,50,72);
}

footer {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

h2 {
  margin: 0px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}



#instructions {
  text-decoration: underline;
}

h3 {
  margin: -5px 0px -5px 3px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

.heading {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px 0 -20px 0;
  color: white;
}

article {
  clear: both;
}

div {
  text-align: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid rgb(250,68,0);
  padding: 42px 0 42px 0;
}

button {
  font-size: 20px;
  margin: 90px auto 30px auto;
  display: block;
  padding: 20px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(250, 68, 0);
}

#lives {
  float: right;
  margin: 0px 60px 0 0;
}
