.col0 {
  float: left;
  width: 19%;
}
.col1 {
  float: left;
  width: 19%;
}
.col2 {
  float: left;
  width: 19%;
}
.col3 {
  float: left;
  width: 19%;
}
.col4 {
  float: left;
  width: 19%;
  clear: right;
}

body {
  background-color: rgb(0,50,70);
}

footer {
  color: white;
}

.heading {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 40px 0;
  color: white;
}

article {
  clear: both;
}

div {
  text-align: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid rgb(250,68,0);
  padding: 42px 0 42px 0;
}

button {
  font-size: 20px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(250, 68, 0);
}
