.col0 {
  float: left;
  width: 19%;
}
.col1 {
  float: left;
  width: 19%;
}
.col2 {
  float: left;
  width: 19%;
}
.col3 {
  float: left;
  width: 19%;
}
.col4 {
  float: left;
  width: 19%;
  clear: right;
}

.intro {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 40px 0;
}

article {
  clear: both;
}

div {
  text-align: center;
  border: 1px solid red;
  padding: 42px 0 42px 0;
}

#rock {
  content:url("https://ibb.co/nn5tKR")
}

button {
  font-size: 20px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  background-color: blue;
}
